* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: "RobotoReg";
  src: url("/fonts/Roboto-Regular.ttf");
}

html {
  display: flex;
  justify-content: center;
}

body {
  display: grid;
  min-height: 720px;
  width: 100%;
  grid-template-columns: repeat(20, 1fr);
}

.nav {
  grid-column: 1/21;
  height: 100px;
  background: #020708;
  font-family: "Orbitron";

  display: grid;
  grid-template-columns: repeat(20, 1fr);

  letter-spacing: 3px;

  background: linear-gradient(rgb(0, 0, 0), rgb(3, 11, 15));

  &__logo {
    grid-column: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 48px;
    color: white;

    text-decoration: none;
  }
  &__btns {
    grid-column: 12/20;
    list-style-type: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__btn {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  &__btn--contact {
    height: 30px;
    width: 140px;
    padding: 5px 10px;
    background-color: #0079b6;
    border-radius: 50px;
  }
}

.header {
  grid-column: 1/21;
  height: 720px;
  background: url("/img/8a4jrOU.png");
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 4px;

  .hero {
    color: white;
    font-family: "Orbitron";

    text-align: center;

    text-shadow: 1px 1px 5px rgb(0, 149, 142);

    &__title {
      font-size: 90px;
    }
    &__subtitle {
      font-size: 45px;
      padding: 10px 0 100px;
    }

    &__arrow {
      height: 100px;
    }
  }
}

.projects {
  grid-column: 1/21;
  min-height: 640px;

  display: grid;
  grid-template-rows: 200px 100px;

  background-color: white;

  font-family: "Orbitron";

  &__title {
    grid-row: 1/2;

    display: flex;
    justify-self: center;
    align-self: center;

    font-size: 75px;
  }
  &__languages {
    grid-row: 2/3;
    height: 75px;

    display: flex;
    justify-self: center;
    align-self: center;
  }

  &__cards {
    display: flex;
    padding: 50px 0;
    justify-content: space-around;

    flex-wrap: wrap;

    font-family: "RobotoReg";
    letter-spacing: 1px;
  }

  .card {
    height: 500px;
    width: 350px;
    border: 1px solid black;

    display: grid;
    grid-template-rows: 1fr 2fr 2fr;

    border-radius: 10px;
    box-shadow: 5px 5px 10px black;

    &__title {
      grid-row: 1/2;

      display: flex;
      justify-self: center;
      align-self: center;

      text-transform: uppercase;
      font-size: 36px;
    }
    &__thumbnail {
      height: 100%;
      background: grey;
      grid-row: 2/3;
      margin: 10px;
    }
    &__description {
      margin: 10px;
      grid-row: 3/4;
      padding-top: 10px;

      font-size: 22px;
    }
  }
}

.contact {
  grid-column: 1/21;
  height: 1000px;

  font-family: "Orbitron";
  letter-spacing: 2px;

  background-color: #0079b6;

  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 200px 500px 300px;

  color: white;

  &__title {
    grid-column: 1/21;
    grid-row: 1/2;

    font-size: 64px;

    display: flex;
    justify-self: center;
    align-self: center;
  }
  &__hero {
    grid-column: 1/21;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__image {
    height: 350px;

    display: flex;
    justify-self: center;
    align-self: center;

    border-radius: 50%;
  }
  &__about {
    display: flex;

    justify-self: center;
    align-self: center;

    font-family: "RobotoReg";
    font-size: 36px;

    padding: 30px;
  }

  &__details {
    grid-column: 1/21;
    grid-row: 3/4;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  &__links {
    grid-row: 1/2;

    display: flex;

    justify-self: center;
    align-self: center;
  }
  &__linkedin {
    height: 75px;
  }
  &__email {
    grid-row: 2/3;

    display: flex;
    justify-self: center;
    align-self: center;

    font-size: 36px;
  }
}
