@import "config";
@import "utilities";
@import "fonts";

.nav {
  grid-column: 1/21;
  height: 100px;
  background: #020708;
  font-family: $primary-font;

  display: grid;
  grid-template-columns: repeat(20, 1fr);

  letter-spacing: 3px;

  background: linear-gradient(rgb(0, 0, 0), rgb(3, 11, 15));

  &__logo {
    grid-column: 2/3;

    @extend %flex-center;

    font-size: 48px;
    color: white;

    text-decoration: none;
  }
  &__btns {
    grid-column: 12/20;
    list-style-type: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__btn {
    color: white;
    text-decoration: none;
    font-size: 28px;
  }
  &__btn--contact {
    height: 30px;
    width: 140px;
    padding: 5px 10px;
    background-color: $primary-color;
    border-radius: 50px;
  }
}

.header {
  grid-column: 1/21;
  height: 720px;
  background: url("/img/8a4jrOU.png");
  background-position: center;
  background-size: cover;

  @extend %flex-center;

  letter-spacing: 4px;

  .hero {
    color: white;
    font-family: $primary-font;

    text-align: center;

    text-shadow: 1px 1px 5px rgb(0, 149, 142);

    &__title {
      font-size: 90px;
    }
    &__subtitle {
      font-size: 45px;
      padding: 10px 0 100px;
    }

    &__arrow {
      height: 100px;
    }
  }
}

.projects {
  grid-column: 1/21;
  min-height: 640px;

  display: grid;
  grid-template-rows: 200px 100px;

  background-color: white;

  font-family: $primary-font;

  &__title {
    grid-row: 1/2;

    @extend %flex-center;

    font-size: 75px;
  }
  &__languages {
    grid-row: 2/3;
    height: 75px;

    display: flex;
    justify-self: center;
    align-self: center;
  }

  &__cards {
    display: flex;
    padding: 50px 0;
    justify-content: space-around;

    flex-wrap: wrap;

    font-family: $secondary-font;
    letter-spacing: 1px;

    .card {
      height: 500px;
      width: 350px;
      display: grid;
      grid-template-rows: 1fr 2fr 2fr;
      border-radius: 10px;
      box-shadow: 5px 5px 10px black;

      background: radial-gradient(#0093dd, #004f77);
      color: white;
      text-shadow: 1px 1px 1px black;

      &__title {
        grid-row: 1/2;

        @extend %flex-center;

        font-size: 36px;
      }
      &__thumbnail {
        height: 100%;
        width: 100%;
        grid-row: 2/3;

        padding: 0 10px;

        border-radius: 15px;
      }
      &__description {
        margin: 10px;
        grid-row: 3/4;
        padding: 10px 10px;

        font-size: 30px;
      }
    }
  }
}

.contact {
  grid-column: 1/21;
  height: 1000px;

  font-family: $primary-font;
  letter-spacing: 2px;

  background-color: $primary-color;

  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 200px 500px 300px;

  text-shadow: 1px 1px 1px black;

  color: white;

  &__title {
    grid-column: 1/21;
    grid-row: 1/2;

    font-size: 64px;

    display: flex;
    justify-self: center;
    align-self: center;
  }
  &__hero {
    grid-column: 1/21;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__image {
    height: 350px;

    display: flex;
    justify-self: center;
    align-self: center;

    border-radius: 50%;
  }
  &__about {
    display: flex;

    justify-self: center;
    align-self: center;

    font-family: $secondary-font;
    font-size: 36px;

    padding: 30px;
  }

  &__details {
    grid-column: 1/21;
    grid-row: 3/4;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }

  &__links {
    grid-row: 1/2;

    display: flex;

    justify-self: center;
    align-self: center;
  }
  &__linkedin {
    height: 75px;
  }
  &__email {
    grid-row: 2/3;

    display: flex;
    justify-self: center;
    align-self: center;

    font-size: 36px;
  }
}

@media (max-width: 900px) {
  .nav__btns {
    grid-column: 9/20;
  }
}

@media (max-width: 650px) {
  .nav__btns {
    grid-column: 5/20;
  }

  .contact__image {
    height: 200px;
  }

  .contact__about {
    font-size: 30px;

    padding: 30px;
  }
}

@media (max-width: 450px) {
  .nav {
    grid-template-rows: repeat(2, 50px);

    &__logo {
      grid-column: 1/21;
      grid-row: 1/2;

      font-size: 36px;
    }
    &__btns {
      grid-row: 2/3;
      grid-column: 1/21;
    }
    &__btn {
      font-size: 18px;
    }
  }

  .contact__hero {
    grid-column: 1/21;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .contact__image {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .contact__about {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}
