@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: "RobotoReg";
  src: url("/fonts/Roboto-Regular.ttf");
}

/* general things that i don't want to give a dedicated file to 
e.g. the card will get its own file */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  min-height: 720px;
  width: 100%;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
}

.nav__logo, .header, .projects__title, .projects__cards .card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 20;
  grid-column: 1/21;
  height: 100px;
  background: #020708;
  font-family: "Orbitron";
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  letter-spacing: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#030b0f));
  background: linear-gradient(black, #030b0f);
}

.nav__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 48px;
  color: white;
  text-decoration: none;
}

.nav__btns {
  -ms-grid-column: 12;
  -ms-grid-column-span: 8;
  grid-column: 12/20;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__btn {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.nav__btn--contact {
  height: 30px;
  width: 140px;
  padding: 5px 10px;
  background-color: #0079b6;
  border-radius: 50px;
}

.header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 20;
  grid-column: 1/21;
  height: 720px;
  background: url("/img/8a4jrOU.png");
  background-position: center;
  background-size: cover;
  letter-spacing: 4px;
}

.header .hero {
  color: white;
  font-family: "Orbitron";
  text-align: center;
  text-shadow: 1px 1px 5px #00958e;
}

.header .hero__title {
  font-size: 90px;
}

.header .hero__subtitle {
  font-size: 45px;
  padding: 10px 0 100px;
}

.header .hero__arrow {
  height: 100px;
}

.projects {
  -ms-grid-column: 1;
  -ms-grid-column-span: 20;
  grid-column: 1/21;
  min-height: 640px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 100px;
      grid-template-rows: 200px 100px;
  background-color: white;
  font-family: "Orbitron";
}

.projects__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 75px;
}

.projects__languages {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.projects__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "RobotoReg";
  letter-spacing: 1px;
}

.projects__cards .card {
  height: 500px;
  width: 350px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr 2fr;
      grid-template-rows: 1fr 2fr 2fr;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
  background: radial-gradient(#0093dd, #004f77);
  color: white;
  text-shadow: 1px 1px 5px black;
}

.projects__cards .card__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 36px;
}

.projects__cards .card__thumbnail {
  height: 100%;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 0 10px;
  border-radius: 15px;
}

.projects__cards .card__description {
  margin: 10px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  padding: 10px 10px;
  font-size: 24px;
}

.contact {
  -ms-grid-column: 1;
  -ms-grid-column-span: 20;
  grid-column: 1/21;
  height: 1000px;
  font-family: "Orbitron";
  letter-spacing: 2px;
  background-color: #0079b6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: 200px 500px 300px;
      grid-template-rows: 200px 500px 300px;
  color: white;
}

.contact__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 20;
  grid-column: 1/21;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.contact__hero {
  -ms-grid-column: 1;
  -ms-grid-column-span: 20;
  grid-column: 1/21;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.contact__image {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 50%;
}

.contact__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "RobotoReg";
  font-size: 36px;
  padding: 30px;
}

.contact__details {
  -ms-grid-column: 1;
  -ms-grid-column-span: 20;
  grid-column: 1/21;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.contact__links {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.contact__linkedin {
  height: 75px;
}

.contact__email {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 36px;
}
/*# sourceMappingURL=style.css.map */